<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{ collection.title }}</h1>
        <p>{{ collection.description }}</p>
      </div>
    </div>
    <div class="row">
      {% for product in collection.products %}
        <div class="col-4">
          <img
            src="{{ product.featured_image | img_url: 'medium' }}"
            alt="{{ product.title }}"
            class="img-fluid"
            width="100%"
            height="100%"
          >
          <h2>{{ product.title }}</h2>
          <p>{{ product.price | money }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
