
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-535133473661256528.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-535133473661256528.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-535133473661256528.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-535133473661256528.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-535133473661256528.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-535133473661256528.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-535133473661256528.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-535133473661256528.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-535133473661256528.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-535133473661256528.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-535133473661256528.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-535133473661256528.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-535133473661256528.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-535133473661256528.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-535133473661256528.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-535133473661256528.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-535133473661256528.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-535133473661256528.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-535133473661256528.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-535133473661256528.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-535133473661256528.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-535133473661256528.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-535133473661256528.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-535133473661256528.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-535133473661256528.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-535133473661256528.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-535133473661256528.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-535133473661256528.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-535133473661256528.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-535133473661256528.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-535133473661256528.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-535133473661256528.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-535133473661256528.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-535133473661256528.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-535133473661256528.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-535133473661256528.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-535133473661256528.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-535133473661256528.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-535133473661256528.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-535133473661256528.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-535133473661256528.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-535133473661256528.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-535133473661256528.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-535133473661256528.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-535133473661256528.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-535133473661256528.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-535133473661256528.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-535133473661256528.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-535133473661256528.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-535133473661256528.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-535133473661256528.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-535133473661256528.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-535133473661256528.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-535133473661256528.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-535133473661256528.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-535133473661256528.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-535133473661256528.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-535133473661256528.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-535133473661256528.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-535133473661256528.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-535133473661256528.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-535133473661256528.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-535133473661256528.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-535133473661256528.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-535133473661256528.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-535133473661256528.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-535133473661256528.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-535133473661256528.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-535133473661256528.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-535133473661256528.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-535133473661256528.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-535133473661256528.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-535133473661256528.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-535133473661256528.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-535133473661256528.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-535133473661256528.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-535133473661256528.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-535133473661256528.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-535133473661256528.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-535133473661256528.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-535133473661256528.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-535133473661256528.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-535133473661256528.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-535133473661256528.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-535133473661256528.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-535133473661256528.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-535133473661256528.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-535133473661256528 .gp-invisible{visibility:hidden}.gps-535133473661256528 .\!gp-absolute{position:absolute!important}.gps-535133473661256528 .gp-absolute{position:absolute}.gps-535133473661256528 .gp-relative{position:relative}.gps-535133473661256528 .gp-inset-0{inset:0}.gps-535133473661256528 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-535133473661256528 .gp-top-0{top:0}.gps-535133473661256528 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-535133473661256528 .-gp-z-1{z-index:-1}.gps-535133473661256528 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-535133473661256528 .gp-mb-0{margin-bottom:0}.gps-535133473661256528 .gp-flex{display:flex}.gps-535133473661256528 .gp-inline-flex{display:inline-flex}.gps-535133473661256528 .gp-grid{display:grid}.gps-535133473661256528 .\!gp-hidden{display:none!important}.gps-535133473661256528 .gp-hidden{display:none}.gps-535133473661256528 .gp-h-full{height:100%}.gps-535133473661256528 .gp-w-full{width:100%}.gps-535133473661256528 .gp-max-w-full{max-width:100%}.gps-535133473661256528 .gp-shrink-0{flex-shrink:0}.gps-535133473661256528 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-535133473661256528 .gp-flex-col{flex-direction:column}.gps-535133473661256528 .gp-flex-wrap{flex-wrap:wrap}.gps-535133473661256528 .\!gp-content-stretch{align-content:stretch!important}.gps-535133473661256528 .gp-items-center{align-items:center}.gps-535133473661256528 .gp-justify-center{justify-content:center}.gps-535133473661256528 .\!gp-self-center{align-self:center!important}.gps-535133473661256528 .gp-self-center{align-self:center}.gps-535133473661256528 .gp-overflow-hidden{overflow:hidden}.gps-535133473661256528 .gp-break-words{overflow-wrap:break-word}.gps-535133473661256528 .gp-border{border-width:1px}.gps-535133473661256528 .gp-border-transparent{border-color:transparent}.gps-535133473661256528 .gp-text-left{text-align:left}.gps-535133473661256528 .gp-leading-\[0\]{line-height:0}.gps-535133473661256528 .gp-no-underline{text-decoration-line:none}.gps-535133473661256528 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-535133473661256528 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-535133473661256528 .gp-duration-200{transition-duration:.2s}.gps-535133473661256528 .gp-duration-300{transition-duration:.3s}.gps-535133473661256528 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-535133473661256528 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-535133473661256528 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-535133473661256528 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-535133473661256528 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-535133473661256528 .tablet\:\!gp-relative{position:relative!important}.gps-535133473661256528 .tablet\:\!gp-hidden{display:none!important}.gps-535133473661256528 .tablet\:gp-hidden{display:none}.gps-535133473661256528 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-535133473661256528 .tablet\:gp-justify-center{justify-content:center}.gps-535133473661256528 .tablet\:\!gp-self-center{align-self:center!important}}@media (max-width:767px){.gps-535133473661256528 .mobile\:\!gp-absolute{position:absolute!important}.gps-535133473661256528 .mobile\:\!gp-hidden{display:none!important}.gps-535133473661256528 .mobile\:gp-hidden{display:none}.gps-535133473661256528 .mobile\:\!gp-h-auto{height:auto!important}.gps-535133473661256528 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-535133473661256528 .mobile\:gp-justify-end{justify-content:flex-end}.gps-535133473661256528 .mobile\:\!gp-self-center{align-self:center!important}}.gps-535133473661256528 .\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}@media (max-width:1024px){.gps-535133473661256528 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-535133473661256528 .mobile\:\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}}.gps-535133473661256528 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-535133473661256528 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-535133473661256528 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}.gps-535133473661256528 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-535133473661256528 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}.gps-535133473661256528 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-535133473661256528 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-535133473661256528 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}.gps-535133473661256528 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-535133473661256528 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-535133473661256528 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-535133473661256528 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px))"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"ggLx5x6NEq"}' data-id="ggLx5x6NEq" id="ggLx5x6NEq" data-same-height-subgrid-container class="ggLx5x6NEq gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:32px;--gtc:minmax(0, 12fr);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gk1ojvsNNL gp-relative gp-flex gp-flex-col"
    >
      
      <gp-hero-banner
        
        data-id="gTFYrz6clw"
        class="gTFYrz6clw gp-group/hero gp-flex gp-w-full gp-flex-col gp-self-center gp-transition-colors gp-duration-200 gp-ease-in-out !gp-self-center tablet:!gp-self-center mobile:!gp-self-center"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_535132908453626801-2c67a211-127e-466f-bf9f-7e71fc2df432.png","height":700,"src":"https://cdn.shopify.com/s/files/1/0907/1188/4057/files/gempages_535132908453626801-2c67a211-127e-466f-bf9f-7e71fc2df432.png","storage":"FILE_CONTENT","width":1440},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_535132908453626801-2c67a211-127e-466f-bf9f-7e71fc2df432.png","height":700,"src":"https://cdn.shopify.com/s/files/1/0907/1188/4057/files/gempages_535132908453626801-2c67a211-127e-466f-bf9f-7e71fc2df432.png","storage":"FILE_CONTENT","width":1440},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4"},"mobile":{"image":{"backupFileKey":"gempages_535132908453626801-9f57b4c3-2362-4fea-9b55-b36907fc1b6a.png","height":1334,"src":"https://cdn.shopify.com/s/files/1/0907/1188/4057/files/gempages_535132908453626801-9f57b4c3-2362-4fea-9b55-b36907fc1b6a.png","storage":"FILE_CONTENT","width":750},"type":"image","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4"}},"uid":"gTFYrz6clw","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center","mobile":"bottom"},"contentPosition2Col":{"desktop":"center"},"sizeSetting":{"desktop":{"hiddenShape":false,"shape":"original","width":"100%","widthHeightLinked":false},"tablet":{"customShapeValue":"","gap":"","height":"","hiddenShape":false,"shape":"custom","shapeLinked":false,"shapeValue":"","width":"100%","widthHeightLinked":false},"mobile":{"customShapeValue":"","gap":"","height":"","hiddenShape":false,"shape":"original","shapeLinked":true,"shapeValue":"","width":"100%"}},"videoObjectFit":{},"target":"_self","href":"","linkType":"","hoverEffectDuration":0.5}'
      >
        
  <div class="gp-relative gp-flex gp-w-full gp-flex-col gp-items-center gp-overflow-hidden hero-banner-container gp-justify-center tablet:gp-justify-center mobile:gp-justify-end" style="--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:auto;--aspect-mobile:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bgc:var(--g-c-bg-2);--shadow:none">
      <div
        class="gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0"
        style="clip-path:inset(0px)"
      >
        <div class="hero-banner-bg gp-hero-banner-image-background hero-banner-bg-parallax" style="--bgi:url({{ "gempages_535132908453626801-2c67a211-127e-466f-bf9f-7e71fc2df432.png" | file_url }});--bgi-tablet:url({{ "gempages_535132908453626801-2c67a211-127e-466f-bf9f-7e71fc2df432.png" | file_url }});--bgi-mobile:url({{ "gempages_535132908453626801-9f57b4c3-2362-4fea-9b55-b36907fc1b6a.png" | file_url }});--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:;--bgc:var(--g-c-bg-2);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;transform:;transition:transform 0.5s cubic-bezier(0,0,0,1)">
          
    <img
      alt="Alt image" width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ "gempages_535132908453626801-2c67a211-127e-466f-bf9f-7e71fc2df432.png" | file_url }}" isNotLazyload="true" srcset base-src="{{ "gempages_535132908453626801-2c67a211-127e-466f-bf9f-7e71fc2df432.png" | file_url }}" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg"
    />
    <img
      alt="Alt image" width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ "gempages_535132908453626801-2c67a211-127e-466f-bf9f-7e71fc2df432.png" | file_url }}" isNotLazyload="true" srcset base-src="{{ "gempages_535132908453626801-2c67a211-127e-466f-bf9f-7e71fc2df432.png" | file_url }}" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl"
    />
    <img
      alt="Alt image" width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ "gempages_535132908453626801-9f57b4c3-2362-4fea-9b55-b36907fc1b6a.png" | file_url }}" isNotLazyload="true" srcset base-src="{{ "gempages_535132908453626801-9f57b4c3-2362-4fea-9b55-b36907fc1b6a.png" | file_url }}" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_mb"
    />
          
        </div>
        <div aria-label="Overlay" class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300" style="--top:0;--left:0"> </div>
      </div>
      
    

    

    
    <gp-row gp-data='{}' data-id id data-same-height-subgrid-container class="gp-hero-banner-row !gp-absolute tablet:!gp-relative mobile:!gp-absolute  tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined !gp-content-stretch [&>*]:!gp-justify-center tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end mobile:!gp-h-auto gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--cg:32px;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px);--pc:center;--pc-tablet:center;--pc-mobile:end">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="ggMoujOHL- gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gNmb4O3RGR"}' data-id="gNmb4O3RGR" id="gNmb4O3RGR" data-same-height-subgrid-container class="gNmb4O3RGR gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:8px;--gtc:minmax(0, 5fr) minmax(0, 7fr);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g7PrFpSi1T gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gwU1_SZJC3"}' data-id="gwU1_SZJC3" id="gwU1_SZJC3" data-same-height-subgrid-container class="gwU1_SZJC3 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:8px;--mb-mobile:7px;--cg:12px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start;--pc-mobile:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="guShqgObs- gp-relative gp-flex gp-flex-col"
    >
      
    
    <div data-id="geY9G9638s"  style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
      <div class="gp-flex gp-flex-wrap" style="--cg:4px;--jc:left">
            <div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="g7NzG3Govc ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gfWkXV_THp" class="gp-leading-[0] gfWkXV_THp" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gfWkXV_THp" class="icon-wrapper gp-inline-flex gp-overflow-hidden gfWkXV_THp " style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#FFFFFF;--t:rotate(0deg);--w:14px;--w-mobile:12px;--h:14px;--h-mobile:12px;--minw:14px;--minw-mobile:12px;--height-desktop:14px;--height-tablet:14px;--height-mobile:12px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="g6G5yxvV95 ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gyEE7kt4QQ" class="gp-leading-[0] gyEE7kt4QQ" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gyEE7kt4QQ" class="icon-wrapper gp-inline-flex gp-overflow-hidden gyEE7kt4QQ " style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#FFFFFF;--t:rotate(0deg);--w:14px;--w-mobile:12px;--h:14px;--h-mobile:12px;--minw:14px;--minw-mobile:12px;--height-desktop:14px;--height-tablet:14px;--height-mobile:12px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gWrPsXFvwK ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gmskOXQ88f" class="gp-leading-[0] gmskOXQ88f" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gmskOXQ88f" class="icon-wrapper gp-inline-flex gp-overflow-hidden gmskOXQ88f " style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#FFFFFF;--t:rotate(0deg);--w:14px;--w-mobile:12px;--h:14px;--h-mobile:12px;--minw:14px;--minw-mobile:12px;--height-desktop:14px;--height-tablet:14px;--height-mobile:12px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="guJn9WKLO7 ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gmA1vNtyHC" class="gp-leading-[0] gmA1vNtyHC" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gmA1vNtyHC" class="icon-wrapper gp-inline-flex gp-overflow-hidden gmA1vNtyHC " style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#FFFFFF;--t:rotate(0deg);--w:14px;--w-mobile:12px;--h:14px;--h-mobile:12px;--minw:14px;--minw-mobile:12px;--height-desktop:14px;--height-tablet:14px;--height-mobile:12px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gillK5Td8J ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gc75ba4aL_" class="gp-leading-[0] gc75ba4aL_" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gc75ba4aL_" class="icon-wrapper gp-inline-flex gp-overflow-hidden gc75ba4aL_ " style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#FFFFFF;--t:rotate(0deg);--w:14px;--w-mobile:12px;--h:14px;--h-mobile:12px;--minw:14px;--minw-mobile:12px;--height-desktop:14px;--height-tablet:14px;--height-mobile:12px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div>
          </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gPcS5pZCr8 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gILw6TR4_g"
        class="gILw6TR4_g"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#E0E0E0;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggILw6TR4_g_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gILw6TR4_g">
        .gILw6TR4_g {

}
.gILw6TR4_g p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g5esf7BXvR"
        class="g5esf7BXvR"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:33px;--size-tablet:33px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg5esf7BXvR_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g5esf7BXvR">
        .g5esf7BXvR {

}
.g5esf7BXvR p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gOUgC7wsn9"
        class="gOUgC7wsn9"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--ta-mobile:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--size:57px;--size-tablet:57px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggOUgC7wsn9_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gXqpp51IDc"
        class="gXqpp51IDc"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:14px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#E0E0E0;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggXqpp51IDc_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"link":"","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:8px;--mb-mobile:7px;--ta:left;--ta-mobile:center" >
        <style>[data-id="gtWBK6Fh7q"].gp-button-base::before, [data-id="gtWBK6Fh7q-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    
    
  
    }
  
      
  [data-id="gtWBK6Fh7q"]:hover::before, [data-id="gtWBK6Fh7q-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="gtWBK6Fh7q" dataId="gtWBK6Fh7q" data-state="idle" aria-label="Don’t Miss Out"
          
          type="button"
          style="--w:370px;--w-tablet:370px;--w-mobile:370px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:10px;--pb-mobile:10px;--shadow:none;--bgi:;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%"
          class="gtWBK6Fh7q gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:700;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggtWBK6Fh7q_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  <div gp-el-wrapper  class="g_sWO-z1GP ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="g_sWO-z1GP"
      data-id="g_sWO-z1GP"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--jc:left;--jc-mobile:center"
      className="g_sWO-z1GP"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":16,"mobile":16,"tablet":16}}'
    >
      
          <div class="gp-flex" style="--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
            <div class="gp-inline-flex gp-flex-col" style="--rg:16px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-g_sWO-z1GP"
                      style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#00C853;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:16px"
                        >
                          <svg data-id="515658750703436950" xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
<g clip-path="url(#clip0_442_3948)">
<path d="M5.33801 2.09C4.38559 2.35248 3.43965 2.6379 2.50101 2.946C2.41529 2.97376 2.3391 3.02504 2.28111 3.09399C2.22312 3.16295 2.18567 3.2468 2.17301 3.336C1.61901 7.493 2.89901 10.526 4.42601 12.524C5.07252 13.3784 5.84341 14.1311 6.71301 14.757C7.05901 15.001 7.36501 15.177 7.60601 15.29C7.72601 15.347 7.82401 15.385 7.89901 15.408C7.93181 15.4195 7.96562 15.4279 8.00001 15.433C8.03398 15.4275 8.06743 15.4191 8.10001 15.408C8.17601 15.385 8.27401 15.347 8.39401 15.29C8.63401 15.177 8.94101 15 9.28701 14.757C10.1566 14.1311 10.9275 13.3784 11.574 12.524C13.101 10.527 14.381 7.493 13.827 3.336C13.8145 3.24676 13.777 3.16285 13.719 3.09388C13.661 3.02491 13.5848 2.97366 13.499 2.946C12.848 2.733 11.749 2.386 10.662 2.091C9.55201 1.79 8.53101 1.567 8.00001 1.567C7.47001 1.567 6.44801 1.79 5.33801 2.091V2.09ZM5.07201 1.06C6.15701 0.765 7.31001 0.5 8.00001 0.5C8.69001 0.5 9.84301 0.765 10.928 1.06C12.038 1.36 13.157 1.715 13.815 1.93C14.0901 2.02085 14.334 2.18747 14.5187 2.4107C14.7034 2.63394 14.8213 2.90474 14.859 3.192C15.455 7.669 14.072 10.987 12.394 13.182C11.6824 14.121 10.834 14.9479 9.87701 15.635C9.5461 15.8728 9.19549 16.0819 8.82901 16.26C8.54901 16.392 8.24801 16.5 8.00001 16.5C7.75201 16.5 7.45201 16.392 7.17101 16.26C6.80452 16.0819 6.45391 15.8728 6.12301 15.635C5.16603 14.9478 4.31759 14.121 3.60601 13.182C1.92801 10.987 0.545005 7.669 1.14101 3.192C1.17869 2.90474 1.29665 2.63394 1.48132 2.4107C1.666 2.18747 1.9099 2.02085 2.18501 1.93C3.1402 1.61681 4.10281 1.32672 5.07201 1.06Z" fill="#E0E0E0"/>
<path d="M10.8546 5.64687C10.9012 5.69331 10.9381 5.74849 10.9633 5.80923C10.9885 5.86998 11.0015 5.9351 11.0015 6.00087C11.0015 6.06663 10.9885 6.13175 10.9633 6.1925C10.9381 6.25324 10.9012 6.30842 10.8546 6.35487L7.85461 9.35487C7.80817 9.40143 7.75299 9.43837 7.69225 9.46358C7.6315 9.48878 7.56638 9.50176 7.50061 9.50176C7.43484 9.50176 7.36972 9.48878 7.30898 9.46358C7.24823 9.43837 7.19306 9.40143 7.14661 9.35487L5.64661 7.85487C5.60012 7.80838 5.56325 7.75319 5.53809 7.69245C5.51293 7.63171 5.49998 7.56661 5.49998 7.50087C5.49998 7.43512 5.51293 7.37002 5.53809 7.30928C5.56325 7.24854 5.60012 7.19335 5.64661 7.14687C5.6931 7.10038 5.74829 7.0635 5.80903 7.03834C5.86977 7.01318 5.93487 7.00023 6.00061 7.00023C6.06636 7.00023 6.13146 7.01318 6.1922 7.03834C6.25294 7.0635 6.30812 7.10038 6.35461 7.14687L7.50061 8.29387L10.1466 5.64687C10.1931 5.6003 10.2482 5.56336 10.309 5.53815C10.3697 5.51295 10.4348 5.49997 10.5006 5.49997C10.5664 5.49997 10.6315 5.51295 10.6922 5.53815C10.753 5.56336 10.8082 5.6003 10.8546 5.64687Z" fill="#E0E0E0"/>
</g>
<defs>
<clipPath id="clip0_442_3948">
<rect width="16" height="16" fill="white" transform="translate(0 0.5)"/>
</clipPath>
</defs>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:13px;--size-mobile:12px;--c:#E0E0E0;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg_sWO-z1GP_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div><div
      data-same-height-display-contents
      style="--jc:start;--d-mobile:none"
      class="gASegjj9Yg gp-relative gp-flex gp-flex-col"
    >
      
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
        
    <picture style="border-radius:inherit" class="gp-w-full gp-invisible -gp-z-1">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_535132908453626801-9f57b4c3-2362-4fea-9b55-b36907fc1b6a.png" | file_url }}" srcset="{{ "gempages_535132908453626801-9f57b4c3-2362-4fea-9b55-b36907fc1b6a.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_535132908453626801-2c67a211-127e-466f-bf9f-7e71fc2df432.png" | file_url }}" srcset="{{ "gempages_535132908453626801-2c67a211-127e-466f-bf9f-7e71fc2df432.png" | file_url }}" />
    
      
      <img
        title fallbackImg="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        src="{{ "gempages_535132908453626801-2c67a211-127e-466f-bf9f-7e71fc2df432.png" | file_url }}" data-src="{{ "gempages_535132908453626801-2c67a211-127e-466f-bf9f-7e71fc2df432.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-mobile:auto;--d:block;--d-tablet:none;--d-mobile:block;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="adaptive-hero-banner"
      />
    
    </picture>
  
  </div>

        
      </gp-hero-banner>
       <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-hero-banner-v2-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-535133473661256528 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/quickstart-220e7d16/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=535133301493466033&sectionId=535133473661256528)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggILw6TR4_g_text","label":"ggILw6TR4_g_text","default":"<p>Rated 4.5/5 Based on 895 Reviews</p>"},{"type":"html","id":"gg5esf7BXvR_text","label":"gg5esf7BXvR_text","default":"<p>Off-Road Racer</p>"},{"type":"html","id":"ggOUgC7wsn9_text","label":"ggOUgC7wsn9_text","default":"Enjoy an amazing <span style=\"color:#7DD0E8;\">30% off!</span>"},{"type":"html","id":"ggXqpp51IDc_text","label":"ggXqpp51IDc_text","default":"<p>Don't let this incredible opportunity slip away! Own the ultimate RC off-road vehicle now!</p>"},{"type":"html","id":"ggtWBK6Fh7q_label","label":"ggtWBK6Fh7q_label","default":"Don’t Miss Out"},{"type":"html","id":"gg_sWO-z1GP_childItem_0","label":"gg_sWO-z1GP_childItem_0","default":"<p>30-day money-back guarantee included&nbsp;</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}