<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ 'gift_cards.issued.title' }}</title>
    {{ content_for_header }}
  </head>
  <body>
    {{ gift_card }}
    <h1>{{ gift_card.balance | money }}</h1>
    <p>{{ gift_card.code }}</p>
    {{ content_for_layout }}
  </body>
</html>
